In [1]:
import pandas as pd
import numpy as np

In [2]:
read_csv_primary = pd.read_csv("C:/Users/carlo/Desktop/ETL_PROJECT/undata-country-profiles (1)/country_profile_variables.csv")
read_csv_ranking = pd.read_csv("C:/Users/carlo/Desktop/ETL_PROJECT/economy-rankings/Rankings.csv")

In [3]:
read_csv_ranking.rename(columns={'Economy':'country'}, inplace = True)
#read_csv_ranking.set_index('Economy')

In [4]:
read_csv_ranking = read_csv_ranking.set_index('country')

In [5]:
read_csv_primary = read_csv_primary.set_index('country')

In [6]:
# Creating a list for the loc append.
list_countries_included = []
list_country_ids = []
list_countries_excluded = []

In [7]:
for i in range(len(read_csv_ranking)):
    
    for j in range(len(read_csv_primary)):

        if read_csv_primary.index[j] == read_csv_ranking.index[i]:
            list_countries_included.append(read_csv_ranking.index[i])#,read_csv_primary.loc['New Zealand',' country_id']})
            list_country_ids.append(read_csv_primary.iloc[j,0])

In [8]:
list_countries_included

['New Zealand',
 'Singapore',
 'Denmark',
 'United States Virgin Islands',
 'United Kingdom',
 'Norway',
 'Georgia',
 'Sweden',
 'Estonia',
 'Finland',
 'Australia',
 'Lithuania',
 'Ireland',
 'Canada',
 'Latvia',
 'Germany',
 'United Arab Emirates',
 'Austria',
 'Iceland',
 'Malaysia',
 'Mauritius',
 'Thailand',
 'Poland',
 'Spain',
 'Portugal',
 'France',
 'Netherlands',
 'Switzerland',
 'Japan',
 'Russian Federation',
 'Kazakhstan',
 'Slovenia',
 'Belarus',
 'Rwanda',
 'Montenegro',
 'Serbia',
 'Romania',
 'Italy',
 'Armenia',
 'Hungary',
 'Mexico',
 'Bulgaria',
 'Croatia',
 'Belgium',
 'Cyprus',
 'Israel',
 'Chile',
 'Brunei Darussalam',
 'Azerbaijan',
 'Peru',
 'Colombia',
 'Turkey',
 'Costa Rica',
 'Mongolia',
 'Luxembourg',
 'Puerto Rico',
 'Albania',
 'Bahrain',
 'Greece',
 'Morocco',
 'Jamaica',
 'Oman',
 'Indonesia',
 'El Salvador',
 'Uzbekistan',
 'Bhutan',
 'Ukraine',
 'China',
 'Panama',
 'Kenya',
 'Botswana',
 'South Africa',
 'Qatar',
 'Malta',
 'Zambia',
 'Bosnia and Herzegovina',
 'Samoa',
 'Tunisia',
 'Tonga',
 'Vanuatu',
 'Saudi Arabia',
 'San Marino',
 'Uruguay',
 'Seychelles',
 'Kuwait',
 'Guatemala',
 'Dominican Republic',
 'Dominican Republic',
 'India',
 'Fiji',
 'Trinidad and Tobago',
 'Jordan',
 'Lesotho',
 'Nepal',
 'Namibia',
 'Antigua and Barbuda',
 'Paraguay',
 'Papua New Guinea',
 'Malawi',
 'Sri Lanka',
 'Swaziland',
 'Philippines',
 'Honduras',
 'Solomon Islands',
 'Argentina',
 'Ecuador',
 'Ghana',
 'Belize',
 'Uganda',
 'Tajikistan',
 'Brazil',
 'Guyana',
 'Cabo Verde',
 'Palau',
 'Nicaragua',
 'Barbados',
 'Lebanon',
 'Cambodia',
 'Maldives',
 'Mozambique',
 'Senegal',
 'Grenada',
 'Mali',
 'Niger',
 'Nigeria',
 'Pakistan',
 'Burkina Faso',
 'Marshall Islands',
 'Mauritania',
 'Benin',
 'Bolivia (Plurinational State of)',
 'Guinea',
 'Djibouti',
 'Micronesia (Federated States of)',
 'Togo',
 'Kiribati',
 'Comoros',
 'Zimbabwe',
 'Sierra Leone',
 'Ethiopia',
 'Madagascar',
 'Cameroon',
 'Burundi',
 'Suriname',
 'Algeria',
 'Gabon',
 'Iraq',
 'Sudan',
 'Myanmar',
 'Liberia',
 'Equatorial Guinea',
 'Syrian Arab Republic',
 'Angola',
 'Guinea-Bissau',
 'Bangladesh',
 'Timor-Leste',
 'Chad',
 'Haiti',
 'Afghanistan',
 'Central African Republic',
 'Libya',
 'South Sudan',
 'Venezuela (Bolivarian Republic of)',
 'Eritrea',
 'Somalia']

In [9]:
for i in range(len(read_csv_ranking)):
    
        if read_csv_ranking.index[i] not in list_countries_included:
            
            list_countries_excluded.append(read_csv_ranking.index[i])

In [10]:
list_countries_excluded

['Korea, Rep.',
 'Hong Kong SAR, China',
 'Macedonia, FYR',
 'Taiwan, China',
 'Czech Republic',
 'Slovak Republic',
 'Kosovo',
 'Moldova',
 'Vietnam',
 'Kyrgyz Republic',
 'St. Lucia',
 'West Bank and Gaza',
 'Bahamas, The',
 'Iran, Islamic Rep.',
 'Egypt, Arab Rep.',
 'St. Vincent and the Grenadines',
 'St. Kitts and Nevis',
 'Tanzania',
 "Côte d'Ivoire",
 'Lao PDR',
 'Gambia, The',
 'São Tomé and Príncipe',
 'Congo, Rep.',
 'Congo, Dem. Rep.',
 'Yemen, Rep.']

In [11]:
list_countries_excludes_renamed = [
    "Democratic People's Republic of Korea",
    "China, Hong Kong SAR",
    "The former Yugoslav Republic of Macedonia",
    "Czechia",
    "Slovakia",
    "Republic of Moldova",
    "Viet Nam",
    "Kyrgyzstan",
    "Saint Lucia",
    "Bahamas",
    "Iran (Islamic Republic of)",
    "Egypt",
    "Saint Vincent and the Grenadines",
    "Saint Kitts and Nevis",
    "United Republic of Tanzania",
    "Lao People's Democratic Republic",
    "Gambia",
    "Sao Tome and Principe",
    "Congo",
    "Democratic Republic of the Congo",
    "Yemen"
]

In [12]:
#Changing the index names on the ranking DF
read_csv_ranking = read_csv_ranking.rename( 
    index={
             'Korea, Rep.':"Democratic People's Republic of Korea",
             'Hong Kong SAR, China':"China, Hong Kong SAR",
             'Macedonia, FYR':"The former Yugoslav Republic of Macedonia",
             'Czech Republic':"Czechia",
             'Slovak Republic':"Slovakia",
             'Moldova':"Republic of Moldova",
             'Vietnam': "Viet Nam",
             'Kyrgyz Republic': "Kyrgyzstan",
             'St. Lucia': "Saint Lucia",
             'Bahamas, The':"Bahamas",
             'Iran, Islamic Rep.':"Iran (Islamic Republic of)",
             'Egypt, Arab Rep.':"Egypt",
             'St. Vincent and the Grenadines':"Saint Vincent and the Grenadines",
             'St. Kitts and Nevis':"Saint Kitts and Nevis",
             'Tanzania':"United Republic of Tanzania",
             'Lao PDR': "Lao People's Democratic Republic",
             'Gambia, The': "Gambia",
             'São Tomé and Príncipe': "Sao Tome and Principe",
             'Congo, Rep.': "Congo",
             'Congo, Dem. Rep.': "Democratic Republic of the Congo",
             'Yemen, Rep.': "Yemen"
        }
)

In [13]:
read_csv_ranking = read_csv_ranking.drop(['Taiwan, China','Kosovo','West Bank and Gaza',"Côte d'Ivoire"])

In [19]:
read_csv_primary.head()

,country_id,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
Albania,2,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
Algeria,3,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
American Samoa,4,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
Andorra,5,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [16]:
for i in range(len(read_csv_ranking)):
    
    for j in range(len(read_csv_primary)):

        if read_csv_primary.index[j] == read_csv_ranking.index[i]:
            print(read_csv_primary.iloc[j,0])
            read_csv_ranking['country_id'][i] = read_csv_primary.iloc[j,0]

146
183
58
56
44
219
216
152
78
197
202
67
72
12
119
100
38
113
79
215
13
95
123
130
201
161
191
162
55
73
144
198
105
168
107
186
19
185
169
136
180
166
167
103
10
94
132
32
52
20
54
102
43
31
14
159
47
209
51
135
120
163
2
16
82
224
138
104
153
97
64
221
24
214
111
46
156
108
28
189
164
126
228
27
175
208
206
222
172
178
176
220
181
110
87
61
61
96
71
207
106
115
143
141
8
158
157
122
192
196
160
93
187
9
62
15
80
21
213
200
98
29
90
35
63
174
155
147
18
114
171
36
124
217
139
179
112
84
125
148
149
77
154
33
127
129
22
25
89
59
133
204
109
48
229
182
68
121
37
34
195
3
76
99
177
194
140
116
65
199
6
88
17
203
49
41
91
57
1
40
117
227
190
223
66
188

In [17]:
read_csv_ranking.head(10)

,Ease of Doing Business Rank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency,country_id
country,,,,,,,,,,,,
New Zealand,1,1,3,37,1,1,2,9,56,21,32,146
Singapore,2,6,16,12,19,29,4,7,42,2,27,183
Denmark,3,34,1,16,11,42,33,8,1,32,7,58
Democratic People's Republic of Korea,4,9,28,2,39,55,20,24,33,1,5,56
"China, Hong Kong SAR",5,3,5,4,55,29,9,3,31,28,43,44
United States Virgin Islands,6,49,36,49,37,2,42,36,36,16,3,219
United Kingdom,7,14,14,9,47,29,10,23,28,31,14,216
Norway,8,19,21,23,14,77,10,28,22,8,6,152
Georgia,9,4,29,30,4,12,2,22,62,7,57,78
Sweden,10,13,27,6,9,77,29,27,18,36,16,197

In [ ]:
read_csv_ranking.drop_duplicates()

# Exporting Dataframe to SQL DB

In [20]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine('')

ArgumentError: Could not parse rfc1738 URL from string ''