In [3]:
import pandas as pd
import json
import io
from pandas.io.json import json_normalize 
from pprint import pprint

In [4]:
with io.open ('../terrorist-incidents-dataset-2015-2018/dataset.json', encoding = 'utf8') as f: #open file with json and 'normalize' the data
    data = json.load(f)
#pprint(data) #to check the different columns for the data

In [5]:
df = json_normalize(data, 'dataA', 'linkTitle') #the order of calling from the json file matters, to get the month and year 'linkTitle' was called before 'dataA'
df.head(3)

,date,dead,details,injured,location,partOf,perpetrator,type,linkTitle
0,1,15–25+,A group of militants attacked a crowded bus tr...,10+,"Waza Region, Cameroon",Boko Haram insurgency,Boko Haram (suspected),Shooting,January 2015
1,3,1,An undetermined number of Bangsamoro Islamic F...,3,"Maguindanao and Sultan Kudarat, Philippines",Moro conflict,BIFF,Attack,January 2015
2,3,3,Shooting in Basra Governorate left 5 people de...,2,"Basra Governorate, Iraq",Iraqi Civil War,Unknown,Shooting,January 2015

In [7]:
des = df.location.str.split(',').tolist() #specify where to split the string
 #check the list of locations

In [8]:
country = [] #append string in the list country with country using a for loop
for i in des:
    country.append(i[-1])
country1 = pd.DataFrame(country) # have it in a data frame to plug into the 'df' data frame
country1.head(3)

              0
0      Cameroon
1   Philippines
2          Iraq

In [9]:
df['Country'] = country1[0] #add the new country column
df.drop(['location'], axis = 1).head(3) #remove the location column from data frame

,date,dead,details,injured,partOf,perpetrator,type,linkTitle,Country
0,1,15–25+,A group of militants attacked a crowded bus tr...,10+,Boko Haram insurgency,Boko Haram (suspected),Shooting,January 2015,Cameroon
1,3,1,An undetermined number of Bangsamoro Islamic F...,3,Moro conflict,BIFF,Attack,January 2015,Philippines
2,3,3,Shooting in Basra Governorate left 5 people de...,2,Iraqi Civil War,Unknown,Shooting,January 2015,Iraq

In [130]:
#Add our reference ID for countries into a data frame from csv file
csv_file = '../project/country_ref.csv'
csv = pd.read_csv(csv_file)
csv.head(3)
test_df = df.iloc[:,-1]
df_df = pd.DataFrame(test_df)
df_df['Country'] = df_df['Country'].str.strip() #rid of white space
for j in df_df.iloc[0]:
    print(j)

Cameroon

In [135]:
#reference the df DataFrame with the id csv file
#make new column as country ID
new = []
for j in df_df.iloc[0]:
    for i in csv:
        if i == j:
            new.append()
new

[]